
/* Google Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* General */
html {
	 font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent
}

html{
  height: 100%;
}


@-ms-viewport {
	width: device-width
}
body {
   	background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    letter-spacing: 0.5px;
}
[tabindex="-1"]:focus {
	outline: 0!important
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

select option {
    background: #000;
}

::placeholder {
    color: #fff !important;
    font-size: 13px;
    opacity: .5 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff !important;
}

section {
    width: 100%;
    padding: 2% 15%;
    font-size: 16px;
}

section .header {
    margin-bottom: 3vh;
}
section .header::after {
    clear: both;
    display: block;
    content: "";
}
section .header img {
    width: 85px;
    height: auto;
    float: left;
    margin-right: 2%;
}
section .header h2 {
    color: #00aeef;
    margin: 20px 15px 0px 0px;
    float: left;
    width: calc(95% - 115px);
}
section .header p {
    text-align: left;
}
section p {
    text-align: justify;
}
section table {
    width: 100%;
}
section table .thead-blue {
    background: #00aeef;
    color: #fff;
    text-align: center;
}
section table thead {
    background: #fff;
    color: #000;
    text-align: left;
}
section table thead th {
    padding: 10px;
    font-size: 18px;
}
section table tbody {
    border-top: solid 4px #343a40;
}
section table tbody th, section table tbody td {
    border: solid 1px #343a40;
    text-align: center;
    font-weight: 400;
}
section table tbody th:first-child, section table tbody td:first-child {
    border-left: none;
}
section table tbody th:last-child, section table tbody td:last-child {
    border-right: none;
}
section table tbody th h4 {
    margin: 0px !important;
}
section table tbody th span {
    font-size: 13px;
}
section table td[rowspan] {
    border-bottom: none;
}
section table tfoot {
    background: #00aeef;
    color: #fff;
    text-align: left;
}
section table tfoot th {
    padding: 10px 5px;
}
section ul {
    color: #00aeef;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
section ul li {
    color: #000;
}
.azul {
    color: #00aeef;;
}
.font-12{
    font-size: 12px !important;
}
.font-10{
    font-size: 10px !important;
}
.border-bonus-bottom-table {
    border-bottom: solid 4px #343a40;
}
.border-bonus-table {
    border-bottom: solid 4px #343a40;
    border-right: none;
}
#myChart {
    width: auto !important;
    height: 300px !important;
    margin: 0 auto;
}
.comentario {
    width: 25%;
    float: left;
    text-align: center;
    font-weight: bold;
    padding-top: 16vh;
    font-size: 20px;
}
.expatriados-table {
    width: 72% !important;
    margin-right: 3%;
    float: left;
}
.expatriados-table::after {
    clear: both;
    display: block;
    content: "";
}
section .chart-section {
    width: 100%;
}
section .chart-section::after {
    clear: both;
    display: block;
    content: "";
}
section .chart-section h4 {
    width: 100%;
    color: #00aeef;
    border-bottom: solid 2px #000;
}
section .chart-section .chart {
    width: 100%;
    float: left;
}
section .chart-section .chart title {
    display: block;
    width: 100%;
    font-weight: 800;
    padding: 0 15%;
    text-align: center;
}
#myChartBarPresidenciaRemuneracao {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    float: left;
}